############################
# OS X
############################

._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
Icon


############################
# Linux
############################

*~


############################
# Windows
############################

*.cab
*.msi
*.msm
*.msp
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db


############################
# Packages
############################

*.7z
*.class
*.com
*.csv
*.dat
*.dll
*.dmg
*.exe
*.gz
*.iso
*.jar
*.o
*.out
*.pid
*.rar
*.seed
*.so
*.swm
*.swn
*.swo
*.swp
*.tar
*.zip


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

.idea
.vscode
*#
nbproject
package-lock.json
ssl
public/*.js
config.json


############################
# Node.js
############################

.env
.node_history
drafts
lcov.info
lib-cov
logs
node_modules
pids
results


############################
# Tests
############################

coverage
out
testApp
